.game-control {
    text-align: center;
    margin: 0 auto 1em;
    max-width: 600px;
}

.game-control_label {
}

.game-control_input {
    padding: 0.3em;
    width: 100%;
    margin-bottom: 0.2em;
    font-size: 2em;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.game-control_hint {
    margin: 0 auto 1em;
    color: #3a87ad;
    text-align: left;
}

.game-control_bar {
    text-align: center;            
}

.game-control_button {

}

